# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=envios_db

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050

# JWT Configuration
JWT_SECRET=f0f81d59e06e534b515d783e42c30018cced95e4e7eb744bc9fdfc7341d2cb60

# Redis Configuration
REDIS_URL=redis://envios_redis:6379

